* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
    background: linear-gradient(135deg, hsl(0, 70%, 63%), hsl(206, 63%, 52%));
    min-height: 100vh;
    padding-top: 10%;
    padding-left: 10%;
}
h2 {
    font-size: 50px;
    margin-bottom: 1rem;
}
#createBtn {
    color: white;
    background-color: hsl(232, 44%, 13%);
    outline: none;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.input-box {
    position: relative;
    background-color: white;
    max-width: 500px;
    min-height: 150px;
    width: 100%;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    outline: none;
}
.input-box img {
    position: absolute;
    width: 25px;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
